    <%- include('./partials/navbar.ejs') %>
    <div class="container mx-auto my-5">
        <div class="container mx-auto card shadow">
            <form action="/new-user" method="post" class="mx-2 my-4">
                <input type="text" name="firstname" class="form-control bg-transparent my-2" placeholder="Your Firstname" id="firstname">
                <input type="text" name="lastname" class="form-control bg-transparent my-2" placeholder="Your lastname">
                <input type="text" name="school" class="form-control bg-transparent my-2" placeholder="Your school">
                <button type="submit" class="btn btn-secondary px-4 my-2 form-control">submit</button>
            </form>
        </div>
    </div>
</body>
</html>