    <%- include('./partials/navbar.ejs') %>
    <div class="container mx-auto my-5">
        <div class="container mx-auto card shadow">
            <form action="/new-user" method="post" class="mx-2 my-4">
                <input type="text" name="todo" class="form-control bg-transparent my-2" placeholder="Your Todo" id="todo">
                <button type="submit" class="btn btn-secondary px-4 my-2 form-control">Add-to-list</button>
            </form>
        </div>
    </div>
</body>
</html>